.py-4 {
    background: pink;
}

.bigbox {
	background: #666434;
	color: #d1bf9a;
	padding-bottom: 20px;
    border: #3c3725 1px solid !important;
	border-radius: 8px;
    height: auto;
	width: 91.5%;
	overflow: hidden;
    padding:20px;
    }
    
.boxes {
    position: relative; 
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: -5px;
border-radius: 8px;
}
